wheel==0.42.0
setuptools==69.1.1
twine==5.0.0
build==1.1.1
html-testRunner~=1.2.1
mypy==1.8.0

mypy-extensions==1.0.0
types-setuptools==69.1.0.20240302
typing_extensions==4.10.0

buildlackey==1.6.3

codeallybasic>=1.2.0
codeallyadvanced>=1.2.0

wxPython~=4.2.1
