wheel==0.45.1
setuptools==75.6.0
twine==6.0.1
build==1.2.2.post1

html-testRunner~=1.2.1
mypy==1.14.0

buildlackey==2.0.0

codeallybasic==1.30.0

# Manually install this in order to run demo
# codeallyadvanced==2.3.0
# wxPython~=4.2.4
